:root {
  --accent1: #b5fa3d;
  --accent2: #b0d528;
  --bg: #fff;
  --text: #222;
}

body.dark-mode {
  --bg: #121212;
  --text: #eee;
  --accent1: #ccff66;
  --accent2: #a4c639;
}

body {
  background-color: var(--bg);
  color: var(--text);
  font-family: 'Inter', sans-serif;
  margin: 0 auto;
  max-width: 100%;
  padding: 0;
}

.c-button--primary {
  background-color: var(--accent1);
  color: #000;
}
.c-button--primary:hover {
  background-color: var(--accent2);
}

/* Add more styling as needed */