<header class="c-header">
  <div class="container">
    <div class="row">
      <div class="c-header__inner">
        <div class="logo">
          <a class="logo__link" href="/">
            <img alt="C0L3 Logo" class="logo__image" src="/images/logo.svg">
          </a>
        </div>
        <nav class="main-nav">
          <ul class="nav__list list-reset">
            <li class="nav__item"><a class="nav__link active-link" href="/">Home</a></li>
            <li class="nav__item"><a class="nav__link" href="/projects/">Projects</a></li>
            <li class="nav__item"><a class="nav__link" href="/blog/">Blog</a></li>
            <li class="nav__item"><a class="nav__link" href="/about/">About</a></li>
            <li class="nav__item"><a class="nav__link" href="/contact/">Contact</a></li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</header>