<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>{% if page.title %}{{ page.title }} – {% endif %}C0L3</title>
  <link rel="stylesheet" href="/assets/styles.css" />
  <script type="module" src="https://unpkg.com/@google/model-viewer/dist/model-viewer.min.js"></script> 
</head>
<body class="light-mode">

  {% include header.html %}

  {{ content }}

  {% include footer.html %}

  <button id="darkModeToggle">🌙 Toggle Dark Mode</button>
  <div class="lightbox-overlay" id="lightbox">
    <img src="" alt="Zoomed Image" class="lightbox-img" id="lightbox-img" />
  </div>

  <script src="/assets/script.js"></script>
</body>
</html>